/*.pdf
/.venv
backend/__pycache__/main.cpython-311.pyc
backend/crawler/crawler/__pycache__/__init__.cpython-311.pyc
backend/crawler/crawler/__pycache__/items.cpython-311.pyc
backend/crawler/crawler/__pycache__/pipelines.cpython-311.pyc
backend/crawler/crawler/__pycache__/settings.cpython-311.pyc
backend/crawler/crawler/spiders/__pycache__/__init__.cpython-311.pyc
backend/crawler/crawler/spiders/__pycache__/general_spider.cpython-311.pyc
backend/db/__pycache__/mongo.cpython-311.pyc
backend/db/__pycache__/mysql.cpython-311.pyc
backend/models/__pycache__/CrawlTask.cpython-311.pyc
backend/routers/__pycache__/contents.cpython-311.pyc
backend/routers/__pycache__/tasks.cpython-311.pyc
.DS_Store
backend/__pycache__/utils.cpython-311.pyc
backend/models/__pycache__/DataSource.cpython-311.pyc
backend/models/__pycache__/Webpage.cpython-311.pyc
backend/models/__pycache__/Website.cpython-311.pyc
backend/routers/__pycache__/images.cpython-311.pyc
backend/routers/__pycache__/stats.cpython-311.pyc
backend/routers/__pycache__/webpages.cpython-311.pyc
backend/routers/__pycache__/websites.cpython-311.pyc
