/*.pdf
/*.pptx
/.venv
backend/__pycache__/*.pyc
backend/crawler/crawler/__pycache__/*.pyc
backend/crawler/crawler/spiders/__pycache__/*.pyc
backend/db/__pycache__/*.pyc
backend/models/__pycache__/*.pyc
backend/routers/__pycache__/*.pyc
.DS_Store
